.flex {
  display: flex;
}
.mtop {
  margin-top: 80px;
}
.baget {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 30px;
  color: var(--color-primary);
  text-transform: uppercase;
}
.primary-btn {
  padding: 18px 40px;
  background-color: var(--color-primary);
  color: #fff;
  border: 2px solid var(--color-primary);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.primary-btn:hover {
  background: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.about {
  background: #fff;
  padding: 100px 0;
}
.about .right {
  padding: 70px 80px 0 0;
}
.about h2 {
  font-size: 40px;
  margin: 20px 0;
}
p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  text-align: justify;
}
.about button {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .about .row {
    width: 100%;
  }
  .about .flex {
    flex-direction: column;
  }
  .baget {
    font-size: 25px;
  }
  img {
    height: 70vh;
    object-fit: cover;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 520px) {
  p {
    font-size: 15px;
  }
  .about .right {
    padding: 50px 30px 0 0;
  }
}

@media screen and (max-width: 420px) {
  p {
    font-size: 12px;
  }
  .about .right {
    padding: 40px 30px 0 0;
  }
  .baget {
    font-size: 18px;
  }
  .primary-btn {
    padding: 13px 27px;
  }
}
