.f_footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  padding: 50px 0;
  text-align: center;
  background-color: var(--color-primary);
  color: #fff;
  margin-top: 5%;
}
footer p {
  color: #fff;
}
@media (max-width: 768px) {
  footer {
    padding: 32px 0;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .left,
  .right {
    width: 100%;
  }
}
@media (max-width: 668px) {
  footer {
    padding: 27px 0;
  }
  .f_footer p {
    font-size: 12px;
  }
}
@media (max-width: 468px) {
  footer {
    padding: 20px 0;
  }
  .f_footer p {
    font-size: 10px;
  }
}